[submodule "sites/dwk.io"]
	path = sites/dwk.io
	url = git@github.com:davidwkeith/dwk.io.git
[submodule "sites/pulletsforever.com"]
	path = sites/pulletsforever.com
	url = git@github.com:davidwkeith/pulletsforever.com.git
[submodule "sites/crontab.dwk.io"]
	path = sites/crontab.dwk.io
	url = git@github.com:davidwkeith/crontab.dwk.io.git
[submodule "sites/davidandshawna.us"]
	path = sites/davidandshawna.us
	url = git@github.com:davidwkeith/davidandshawna.us.git
[submodule "sites/thekeithfamily.us"]
	path = sites/thekeithfamily.us
	url = git@github.com:davidwkeith/thekeithfamily.us.git
