[submodule "sites/dwk.io"]
	path = sites/dwk.io
	url = git@github.com:davidwkeith/dwk.io.git
[submodule "sites/pulletsforever.com"]
	path = sites/pulletsforever.com
	url = git@gitlab.com:dwk-io/pulletsforever.com.git
